---
title: Binstar Build
subtitle: 'Authentication and Authorization'
---
{% extends "layout.html" %}

{% block main %}
<a id="creating-a-binstar-account"></a>
### Creating a Binstar Account

In order to use Binstar, you must create an account at [anaconda.org](https://anaconda.org), and also [install the Binstar client](/build_cli.html), available via conda or [github](https://github.com/Anaconda-Server/binstar_client).

Firstly, You can use web browser and offered [anaconda.org graphical interface](https://anaconda.org/account/login).
The remaining options are allowed through the *binstar* tool.
This tool is delivered in [Anaconda](https://store.continuum.io/cshop/anaconda/)
and its code is available on [github.com]


By using it, You can unlock full session to your account. The tool allows You to perform almost all actions
without any password prompt and without necessity of specifying any *token* in command line.
The second way is to use *token* - mostly to perform a specific action (but it's not limited to this).
Last mentioned method requires to always specify appropriate *token* in command line to successfully perform the requested action.

1. How can I open full session to [anaconda.org](https://anaconda.org)?

By signing into your account, just like that:
```
binstar login
```

The above command  will ask for your username and password.
Then You will be able to perform any actions on your account, generally without password prompt
(creation of a new token may need enter the password once again due to security reason).

1. How can I close full session to my [anaconda.org](https://anaconda.org) account?

It's easy, just type:

```
binstar logout
```

After that You won't be able to perform any actions on your account.

1. What is the *token* and why do I may need a one?

The *token* is 24th (stronger version) or 13th (weaker version) length of characters authorization string.
It allows You to perform any actions (according to *scope* of the *token*) on your [anaconda.org](https://anaconda.org) account without any password prompt.


**Remember, treat your tokens like passwords.**

1. What is the *scope* of *token*?

The *scope* determines access level to your account on [anaconda.org](https://anaconda.org).
According to the *scope* of *token* You are allowed or disallowed to perform specific actions.

1. How can I list all of available *scopes* for *tokens* which I can use?

```
binstar auth --list-scopes
```

1. How can I obtain my first *token* called 'fullaccess', with *scope* granting full permissions and save it for example in /home/irritum/.binstar.token file?

```
binstar auth --create --name fullaccess > /home/irritum/.binstar.token
```
or with explicitly given *scope* which grants full access permission:

```
binstar auth --create --name fullaccess -s 'all' > /home/irritum/.binstar.token
```

In both cases You will be asked for username and password of your [anaconda.org](https://anaconda.org) account.
After successful operation your *token* will be saved into requested /home/irritum/.binstar.token file.
You can examine the content of this file by typing (be sure that nobody can see it's value):

```
cat /home/irritum/.binstar.token
```


**Remember** to appropriately change permissions of above *token* file, like:
```
chmod 0600 /home/irritum/.binstar.token

1. How can I use my *token* which was saved in some file (e.g. /home/irritum/.binstar.token)?

```
export BINSTAR_TOKEN="$(</home/irritum/.binstar.token)"
```

And now You should prefix any of *binstar* subcommand which is supposed to use the *token*, with '-t ${BINSTAR_TOKEN}', like:

```
binstar -t ${BINSTAR_TOKEN} subcommand
```

The variable name (in this example: BINSTAR_TOKEN) is free to choose.

1. How can I easy obtain another one of *token* which has limited *scope* of access (e.g. to perform all operations BUT only on *conda* repositories)?

```
binstar -t ${BINSTAR_TOKEN} auth --create --name condafullaccess -s conda > /home/irritum/.binstar.token.condafullaccess
```

You will be asked for password of your [anaconda.org](https://anaconda.org) account.
To use just generated *token*, please type:

```
export BINSTAR_TOKEN="$(</home/irritum/.binstar.token.condafullaccess)"

```

Now You should be able to perform any actions according to the *scope* of this new *token* (e.g. upload personal *conda* package):
```
binstar -t ${BINSTAR_TOKEN} upload /tmp/some_private_conda_package.tbz2
```

1. How can I get list of all of my *tokens*?

```
binstar -t ${BINSTAR_TOKEN} auth --list
```

The column 'Application' contains name of the *token*. This name was applied during the *token* creation process.
If the name was ommitted, then default value will be used istead (currently this is: binstar_token:hostname.domainname).

1. How can I remove one of my *tokens* (e.g. the ID of *token* to remove is 536caa38e1dad11ee9d4c8a6)?

```
binstar -t ${BINSTAR_TOKEN} auth --remove 536caa38e1dad11ee9d4c8a6
```

1. What I should do if I get lost of my *token*?

Currently there is no action to restore value of lost *token*.
So, You should remove the *token* from your auth list and then generate the new *token* and save it's content to file one more again.

1. How can I check my binstar personality?

```
binstar -t ${BINSTAR_TOKEN} whoami
```


{% endblock main %}
