---
title: Binstar Build 
subtitle: 'Command line interface'
---
{% extends "columns.j2" %}

{% block main %}
<a id="Installing"></a>

## Getting Started

<div class="alert alert-danger">
Binstar build is currently in development, you <strong>must</strong> install the binstar client from github
   <hr>
<pre><code>git clone -b feaure/build https://github.com/Binstar/binstar_client
cd binstar_client
python setup.py install

binstar config --set url http://api.alpha.binstar.org
</code></pre>
    
</div>
Check out these examples if you learn by doing:

 * [Example conda package](https://github.com/Binstar/binstar_client/tree/feature/build/test/conda)
 * [Binstar config Documentation](build_config.html)
 
### Step 1: Create a package

If you are not familiar with binstar create a package first. 
This will be the namespace or the context of the build

    binstar package --create USERNAME/conda_build_test

Replace `USERNAME` with your username.

### Step 2: Add .binstar.yml file to your build directory 

This may be the same directory as your `meta.yaml` file if you are building a conda package

See the [.binstar.yml](build_config.html) documentation for more details:

    package: conda_build_test
    platform: 
      - linux-64
      - linux-32
    script:
      - conda build .
    
      # Must do this otherwise we don't have controll over the build targets
      - mkdir dist
      - cp `conda build . --output` dist/
    build_targets:
      - dist/*

### Step 3: Submit your build

Change directories to where you created your .binstar.yml file. Then you can run: 

    binstar build --submit

The out put should be somthing like:

    Getting build product: /path/to/conda_build_test
    Submitting 2 sub builds
     0) linux-32    python=2         None           
     1) linux-64    python=2         None           
    Build 1 submitted

Or you can do a dry run to check that your .binstar.yml file is OK.
    
    binstar build --dry-run

This command packs the entire directory containing the .binstar.yaml file and uploads it to binstar.
You build is now in the build queue.

### Step 4: Monitor your build

#### List all of your builds for this package

    binstar build --list-all

#### List all of the sub builds for a build

    binstar build --list 1

#### Tail the output of a build

    binstar build --tail 1.1
    #or 
    binstar build --tail 1.1 -f

The `-f` option behaves exactly like the linux `tail -f` command

## Look at the binstar build --help option

'nuf said

{% endblock %}
