---
title: Configuring Your Build 
subtitle: '.binstar.yml'
---
{% extends "columns.j2" %}

{% block main %}


## Build Lifecycle

By default, the worker performs the build as following:

1.  Download the tarbal containing the build resources (including the .binstar.yml file)
1.  Run <a href="#before_script,after_script">before_script</a> commands.
     * Use this to prepare your build
     * e.g. copy database configurations, environment variables, etc.
1.  Run <a href="#script">script</a> commands
     * All commands must exit with code 0 on success. Anything else is considered failure.
1.  Run <a href="#after_XX">after_success</a> or <a href="#after_XX">after_failure</a> commands
1.  Run <a href="#before_script,after_script">after_script</a> commands.
1.  Upload <a href="#build_targets">build_targets</a>.
     * Build targets will end up in your binstar package using binstar upload, 
     * These *must* be conda or pypi packages
1.  Upload <a href="#build_artifacts">build_artifacts</a>.
    *   Build artifacts can be any arbitrary data. (log files, data files etc)
    *   These will be uploaded to the url http://artifacts.build.binstar.info/USER/PACKAGE/BUILD.SUB_BUILD/FILE 
            
            http://artifacts.build.binstar.info/USER/PACKAGE/BUILD.SUB_BUILD/FILE
    
## Binstar Build Preserves No State Between Builds

Once the build is finished the VM is destroyed. But we can allow you to have sudo acccess!

## Environment Variables

 * `BINSTAR_BUILD` The build number as MAJOR.MINOR
 * `BINSTAR_BUILD_MAJOR`
 * `BINSTAR_BUILD_MINOR`
 * `BINSTAR_ENGINE` the engine from the engine tag
 * `BINSTAR_PLATFORM` the platofrm from the platofrm tag 

# .binstar.yml Tags

{% macro mytitle(tag, text='')%}
### The {{text or tag}} tags <a id="{{tag}}" href="#{{tag}}">#</a>
{% endmacro%}

{{mytitle('script')}}

Define the main script:

    script: some_command

Script may also be a list:

    after_script:  
      - some_command
      - another_command
    
{{mytitle('before_script,after_script')}}

You can also define scripts to be run before and after the main script:

    before_script: some_command
    after_script:  another_command


{{mytitle('after_XX', 'after_success and after_failure')}}

Like all tags, Script may also be a list:

    after_script:  
      - some_command
      - another_command

{{mytitle('build_targets')}}

These files will be upload to your bunstar package. May be a file or a glob of files:

    build_targets: dist/*

These are files you would run `binstar upload` on.

{{mytitle('build_artifacts')}}

Upload anything you want. Your build artifacts will be put into the website

    http://artifacts.build.binstar.info/USERNAME/PACKGE_NAME/BUILD_NO

Example:

    build_artifacts: ~/conda.log
    
Or a list or glob of files

    build_artifacts: 
      - ~/conda.log
      - test-results.json
      - html-coverage/*
    
You can store all logs or any derived data here
Remember, the site http://artifacts.build.binstar.info is NOT secure and does not
require a user to log in to view

# Build Matrix

When you submit one .binstar.yml file many sub builds are launched, this is because of the
[platform](#platform), [engine](#engine) and [env](#env) tags.  

The build matrix is formed by combining `[platform * engin * env]` to get the sub builds.

The following configuration will run 8 sub builds:

    platform: 
      - linux-32
      - linux-64
    engine: 
      - python=2
      - python=3
    env: 
      - CXX=g++
      - CXX=clang++

*   `platform: linux-64 engine: python=2 env: =g++`
*   `platform: linux-64 engine: python=2 env: =clang++`
*   `platform: linux-64 engine: python=3 env: =g++`
*   `platform: linux-64 engine: python=3 env: =clang++`
*   `platform: linux-32 engine: python=2 env: =g++`
*   `platform: linux-32 engine: python=2 env: =clang++`
*   `platform: linux-32 engine: python=3 env: =g++`
*   `platform: linux-32 engine: python=3 env: =clang++`

{{mytitle('platform')}}

Right now this selects the machine type you want to run your build on.

    platform: 
      - linux-64


{{mytitle('engine')}}

Sets the initial conda packages you want to build with:

    engine: 
      - python=2 nodejs=0.10
      - python=3

Note that the first item `python=2 nodejs=0.10` is not a list.
 
In this sub build the both packages python and nodejs will be available

{{mytitle('env')}}

An export of environment variables for the sub-build

    env: 
      - FOO=BAR 
      - BINSTAR=GOOD JENKINS=BAD

# Multiple build Matrices

Some times it is not the best to define one large build matrix, 
for example if you running a build windows <span class="text-muted">(Windows is not available as of yet)</span>  
  
The matrix:

    platform: 
      - win-32
      - linux-32
    env:
      - MSVC=2008
      - MSVC=2010
      - CC=gcc
    script:
        build.sh

Would not work the build items with `platform: linux-32 env: MSVC=2008` don't make sense:
You can contatonate the sub-builds using yaml documents.

Yaml documents are seporated by `---`

    platform: linux-32
    env: CC=gcc
    script: build.sh
    ---
    platform: win-32
    env:
      - MSVC=2008
      - MSVC=2010
    script: build.bat

This would now produce the correct sub builds 

# Excluding an item in the matrix

You can exclude a sub-build entry from a matrix with the exclude tag

    platform: 
      - linux-32
      - linux-64
    engine: 
      - python=2
      - python=3
    script: conda build .
    ---
    platform: linux-32
    engine: python=3
    exclude: true

Now the sub-build: `platform: linux-32 engine: python=3` will not be submitted

{% endblock %}

