{% set page_id = 'build-config' %}
{% from "macros.html" import section, subsection, subsubsection with context %}
{% extends "layout.html" %}

{% block single_page_content %}

{% call section('Build configuration', self) %}

{%   call subsection('Build Config File')%}

The build config is a file in the root directory named `.binstar.yml`
In the yaml file there are a number of tags that you can use to control how
your build is run. Every tag is optional and all tags can be written as a single command or a list

{% syntax yaml %}
tag: single_command
# OR
tag:
  - some_command
  - another_command
{% endsyntax %}


{%     call subsubsection('script') %}

Define the main script to run on the build machine:

{% syntax yaml %}
    script: echo "hello world!"
{% endsyntax %}

Script may also be a list:

{% syntax yaml %}
    script:
      - some_command
      - another_command
{% endsyntax %}

{%     endcall %}
{%     call subsubsection('before_script and after_script') %}

You can also define scripts to be run before and after the main script:

{% syntax yaml %}
before_script: some_command
after_script:  another_command
{% endsyntax %}

For the `after_script` tag the environment variable, 
[BINSTAR_BUILD_RESULT](#EnvironmentVariables) will be made available as either *success* or *failure*  


{%     endcall %}
{%     call subsubsection('after_success and after_failure') %}

if you use the after_success or after_failure tags,
one of them will run after the [script](#script) tags depending on if the build was a success or a failure. Build errors are not caught.  

{% syntax yaml %}
after_success:
  - echo Yay!
after_failure:
  - echo Oops?
{% endsyntax %}


{%     endcall %}
{%     call subsubsection('build_targets') %}

These files will be upload to your binstar package. 
These are files that will be uploaded to binstar with 
[binstar upload]({{content_url('cli.html')}}#Upload)

You may use the key words `conda` or `pypi`

    build_targets: conda
    
Or a file or glob of files:

{% syntax yaml %}
build_targets: /opt/anaconda/my-package.tar.bz2
{% endsyntax %}

{%     endcall %}
{%     call subsubsection('platform') %}

Right now this selects the machine type you want to run your build on. 
You can check what platforms that are available to run on with the [binstar-build queue]({{content_url('cli.html')}}#Queue) command. 
By default only `linux-64` is available.   

{% syntax yaml %}
platform:
  - linux-32
  - linux-64
  - osx-32
  - osx-64
  - win-32
  - win-64
{% endsyntax %}


The items in the `platform` tag describe one axis of the [build matrix](#BuildMatrix)

{%     endcall %}

{%     call subsubsection('engine') %}

Sets the initial conda packages you want to build with:

{% syntax yaml %}
engine:
  - python=2 nodejs=0.10
  - python=3
{% endsyntax %}


Note that the first item `python=2 nodejs=0.10` is not a list.
In this build item the both packages python and nodejs will be available.

The items in the `engine` tag describe one axis of the [build matrix](#BuildMatrix)
 
{%     endcall %}
{%     call subsubsection('env') %}

An export of environment variables for the sub-build

{% syntax yaml %}
env:
  - FOO=BAR
  - BINSTAR=GREAT JENKINS=OK
{% endsyntax %}


The items in the `env` tag describe one axis of the [build matrix](#BuildMatrix)

{%     endcall %}

{%   endcall %}
{%   call subsection('Build Matrix') %}

When you submit one `.binstar.yml` file many sub-builds are launched.  This is because of the
[platform](#Platform), [engine](#Engine) and [env](#Env) tags.

The build matrix is formed by combining `[platform * engine * env]` to get the sub-builds.

The following configuration will run 8 sub builds:

{% syntax yaml %}
platform:
  - linux-32
  - linux-64
engine:
  - python=2
  - python=3
env:
  - CXX=g++
  - CXX=clang++
{% endsyntax %}


 1. platform: `linux-64` engine: `python=2` env: `CXX=g++`
 1. platform: `linux-64` engine: `python=2` env: `CXX=clang++`
 1. platform: `linux-64` engine: `python=3` env: `CXX=g++`
 1. platform: `linux-64` engine: `python=3` env: `CXX=clang++`
 1. platform: `linux-32` engine: `python=2` env: `CXX=g++`
 1. platform: `linux-32` engine: `python=2` env: `CXX=clang++`
 1. platform: `linux-32` engine: `python=3` env: `CXX=g++`
 1. platform: `linux-32` engine: `python=3` env: `CXX=clang++`


{%     call subsubsection('Multiple build Matrices') %}

Sometimes it is not the best to define one large build matrix,
for example if you running a build on Windows, the matrix:

{% syntax yaml %}
platform:
  - win-32
  - linux-32
env:
  - MSVC=2008
  - MSVC=2010
  - CC=gcc
script:
    build.sh
{% endsyntax %}

Would not work the build items with `platform: linux-32 env: MSVC=2008` and `platform: linux-32 env: MSVC=2010` don't make sense:
You can concatenate the sub-builds using [yaml document separators](http://yaml.org/spec/1.0/#id2489959).

Yaml documents are separated by `---`.

{% syntax yaml %}
platform: linux-32
env: CC=gcc
script: build.sh
--- # New Build Matrix
platform: win-32
env:
  - MSVC=2008
  - MSVC=2010
script: build.bat
{% endsyntax %}


This would now produce the correct sub-builds.

{%     endcall %}

{%     call subsubsection('Excluding an item in the matrix') %}

You can exclude a sub-build entry from a matrix with the exclude tag.

{% syntax yaml %}
platform:
  - linux-32
  - linux-64
engine:
  - python=2
  - python=3
script: conda build .
---
platform: linux-32
engine: python=3
exclude: true
{% endsyntax %}

Now the sub-build: `platform: linux-32 engine: python=3` will not be submitted.

{%     endcall %}


{%   endcall %}
{%   call subsection('Environment Variables') %}

<dl class="dl-horizontal dl-lg">
 <dt>BINSTAR_BUILD</dt><dd>The build number as MAJOR.MINOR</dd>
 <dt>BINSTAR_BUILD_MAJOR</dt><dd></dd>
 <dt>BINSTAR_BUILD_MINOR</dt><dd></dd>
 <dt>BINSTAR_ENGINE</dt><dd> the engine from the engine tag</dd>
 <dt>BINSTAR_PLATFORM</dt><dd> the platform from the platform tag</dd>
 <dt>BINSTAR_BUILD_RESULT</dt><dd>This is set after the <a href="#Script">script</a> tag is run</dd>
</dl>

{%   endcall %}

{% endcall %}


{%- endblock -%}

