---
title: Binstar Channels

subtitle: ''
---
{% extends "columns.j2" %}

{% block main %}
<a id="access"></a>

### Purpose

Binstar channels allow you to upload files to your packages and controll how they are accessed.


With binstar channels you can upload a file to a specific channel,
but only users listening to that channel will be able to install it. This is particularly usefull for development and testing.
You can upload a file to a `dev` or `testing` channel, and when you are satisfied that it is a stable release, you can push
it to the `main` user channel for all users to install.

The the default channel that all files are put into is `main`. This can be used as a normal binstar file.

Typically when we are working on with conda we would do this:

    conda config --add channel http://conda.binstar.org/USER


To use a binstar specific binstar channel you can do this:

    conda config --add channel http://conda.binstar.org/USER/channel/CHANNEL-NAME


### Using Channels

This sceenshot shows that the package [wakari/ipython-we](https://binstar.org/wakari/ipython-we/2.0/files)
has the file `osx-64/ipython-we-2.0-py27_1.tar.bz2` and that this file can be found in the
`dev` or `main` channels.

This means that I can install the ipython-we package by using the main channel:

    conda config --add channel http://conda.binstar.org/wakari

OR using the dev channel:

    conda config --add channel http://conda.binstar.org/wakari/channel/dev

Packages don't have to be in both channels.


<p class="text-center" style="text-align: center;">
    <img src="media/img/channels-overview.png" class="img-polaroid" width="500px" />
</p>


### Uploading

To upload a file to a channel, make sure you are using the binstar client greater or equal to 0.5.1.
Then you can run the normal `binstar upload` command with one or more `--channel` options.
You may name your channels any url safe string.

    binstar upload ... --channel dev --channel feature/new-ui

### Modifying Channels

If you click on the `+` icon beside the list of channels, you may enter a comma separated
list of channels you want this file to be found in.


<p class="text-center" style="text-align: center;">
    <img src="media/img/channels-modal.png" class="img-polaroid" width="500px" />
</p>

{%endblock%}
