---
title: Conda Packages 
subtitle: ''
---
{% extends "columns.j2" %}

{% block main %}
<a id="Installing"></a>
## Installing Conda packages

The basic way to install a package from binstar is using conda:
 
```
conda install --channel conda.binstar.org/REGISTRY-PATH PACKAGE
```

Where **REGISTRY-PATH** may be one of the following: 

1. **public**, this allows installation of packages from the global public registry. 
   Published packages are user packages that they have chosen to put into a common registry. 
   Check the package home page for details
   ```
   conda install --channel conda.binstar.org/public PACKAGE
   ```
    
1. A **username**, this allows installation of packages from a user registry:  
   ```
   conda install --channel conda.binstar.org/USER PACKAGE
   ```

1. A **user collection**, this allows installation of packages from a collection of packages a user has put together:  
   ```
   conda install --channel conda.binstar.org/collections/USER/COLLECTION-NAME PACKAGE
   ```

## Installing Private Packages

All urls (except for the public registry) can be prefixed with `/t/$TOKEN` to access private packages. 

```
TOKEN=$(binstar auth --create --name YOUR-TOKEN-NAME)
```
```
conda install --channel conda.binstar.org/t/$TOKEN/USER PACKAGE
```

### Modify your conda RC file


<a id="Authoring"></a>
## Authoring Conda packages


{%endblock%}
