---
title: Conda Packages
subtitle: ''
---
{% extends "columns.j2" %}

{% block main %}
<a id="Installing"></a>
## Installing Conda packages

The basic way to install a package from binstar is using conda:

```
conda install --channel https://conda.binstar.org/:REPOSITORY-PATH PACKAGE
```

Where **REPOSITORY-PATH** may be one of the following:

1. A **username**, this allows installation of packages from a user repository:
   ```
   conda install --channel https://conda.binstar.org/USER PACKAGE
   ```

1.  A **user channel**, this allows installation of packages from a collection of packages a user has put together:
    ```
    conda install --channel https://conda.binstar.org/collections/:username/channel/:channel-name PACKAGE
    ```

    The **main** channel is the default channel:
    `https://conda.binstar.org/USER/channel/main` is equivalent to `https://conda.binstar.org/USER`


## Installing Private Packages

All urls can be prefixed with `/t/$TOKEN` to access private packages.

```
TOKEN=$(binstar auth --create --name YOUR-TOKEN-NAME)
```
```
conda install --channel https://conda.binstar.org/t/$TOKEN/USER PACKAGE
```

### Modify your conda RC file


<a id="Authoring"></a>
## Authoring Conda packages

Choose a project repository, for example, *ggplot*

    https://github.com/yhat/ggplot.git

Create a *recipe* directory.  Inside, create a file called **meta.yaml** that has this information:

   
    package:
      name: ggplot   
      version: "0.5.9"

    source:
      git_url: https://github.com/yhat/ggplot.git

    requirements:
      build:
        - python
        - setuptools
        - six
        - pandas
        - numpy
        - matplotlib
        - statsmodels
        - brewer2mpl
        - patsy
        - scipy

      run:
        - matplotlib
        - statsmodels
        - scipy
        - patsy
        - brewer2mpl
        - python
        - six
        - pandas
        - numpy

    test:
      # Python imports
      imports:
        - ggplot

    about:
      home: https://github.com/yhat/ggplot
      license: https://github.com/yhat/ggplot/blob/master/LICENSE

**Note**:

For more information on *meta.yaml package files* and conda's build framework, please reference the [conda build documentation](http://conda.pydata.org/docs/build.html).


Next you need **build.sh** in this same directory


    #!/bin/bash

    $PYTHON setup.py install

    # Add more build steps here, if they are necessary.

    # See
    # http://docs.continuum.io/conda/build.html
    # for a list of environment variables that are set during the build process.


And a **build.bat**


    "%PYTHON%" setup.py install
    if errorlevel 1 exit 1

    :: Add more build steps here, if they are necessary.

    :: See
    :: http://docs.continuum.io/conda/build.html
    :: for a list of environment variables that are set during the build process.


From outside the recipe directory, run

    
    conda build RECIPE-DIR

You may see this message after the package is successfully built

    # If you want to upload this package to binstar.org later, type:
    #
    # $ binstar upload /USER/ggplot-0.6.5-np18py27_0.tar.bz2
    #
    # To have conda build upload to binstar automatically, use
    # $ conda config --set binstar_upload yes
    
All packages built in this way are placed in a subdirectory of Anaconda's *conda-bld* directory.

If you do not choose to set binstar_upload to yes by default, you may now upload your package using the command
**binstar upload REPOSITORY-PATH/PACKAGE.tar.bz2**


    $ binstar upload USER/ggplot-0.6.5-np18py27_0.tar.bz2
    
    Using binstar api site http://api.alpha.binstar.org
    detecting package type ...
    conda
    extracting package attributes for upload ...
    done

    Uploading file USER/ggplot/0.6.5/osx-64/ggplot-0.6.5-np18py27_0.tar.bz2 ... 
     uploaded 6712 of 6712Kb: 100.00% ETA: 0.0 minutes


    Upload(s) Complete

    Package located at:
    http://alpha.binstar.org/USER/ggplot

Your package is now available at *http://alpha.binstar.org/USER/PACKAGE*.

See also [authoring packages](author.html) for a general overview.
{%endblock%}
