{% set page_id = 'examples' %}
{% extends "layout.html" %}
{% from "macros.html" import section, sub_section, panel %}

{% block content %}

<div id="methods">
<div class="method">

{% section %}
# Examples
{% endsection %}

{% include "_examples/insall.html" with context %}

</div>

<div class="method">
{% include "_examples/conda.html" with context %}
</div>

<div class="method">
{% include "_examples/pypi.html" with context %}
</div>

<div class="method">
{% include "_examples/tokens.html" with context %}
</div>

<div class="method">
{% include "_examples/organizations.html" with context %}
</div>

<div class="method">
{% include "_examples/development_cycle.html" with context %}
</div>

<div class="method">
{% include "_examples/build.html" with context %}
</div>


</div>


{% endblock %}
