
{% set page_id = 'faq' %}

{% extends "layout.html" %}
{% from "macros.html" import section with context %}

{% block content %}
<div class="col-sm-12">

{{page_header(self, resource, 'Frequently Asked Questions', 1)}}

{% call section('General Questions') %}


#####Q. What is Anaconda Cloud?

A. Anaconda Cloud (Anaconda.org) is a package management service that makes it easy to find, access, store and share public and private notebooks, environments, and conda and PyPI packages, and to keep up with updates made to the packages and environments you’re using.

#####Q. What kind of packages does Anaconda Cloud support?

A. Anaconda Cloud supports conda and PyPI packages, as well as notebooks and environments.

#####Q. Who can find and install my packages?
A. If you have a free account, all of your packages are public, so after you upload them to Anaconda Cloud anyone can search for and download them.  If you wish to designate private packages, you can [purchase a paid account](https://anaconda.org/about/pricing).  

#####Q. How do I build and upload a package?
A. Please see [Submit your first build](examples.html#SubmitYourFirstBuild).

#####Q. What is Continuum Analytics?

A. Continuum Analytics is a software development and consulting company of passionate open source advocates based in Austin, Texas, USA.  We are committed to the open source community.  We created the Anaconda Python distribution and contribute to many other open source-based data analytics tools.You can find out more about us [here](http://continuum.io/about-continuum).

#####Q. What are Anaconda Cloud's Terms of Service?

A. You can read our terms of service [here](https://anaconda.org/about/legal/terms). For any additional questions, please [email us](mailto:support@anaconda.org).

{% endcall %}

{% call section('Accounts and pricing') %}

### Accounts and pricing

#####Q. How much does Anaconda Cloud cost?

A. Anaconda Cloud is always free for downloading and uploading public packages, and for academic users. If you want private packages or extra storage space, you can upgrade to a private account. For more information, see our [plans and pricing](https://anaconda.org/about/plans/).

#####Q. Do you offer free access for academic use?

Yes. Our academic accounts even include free add-ons such as IOPro and Anaconda Accelerate. You must sign up for Anaconda Cloud with an .edu email address. Other features such as private packages and advanced build worker options require a paid plan.

#####Q. How do I get started with Anaconda Cloud?

A. You can search, download and install hundreds of public packages without even having an account. If you wish to build and upload packages, you will need to sign up for an [Anaconda Cloud account](https://anaconda.org/). See our Building section for more help. 

{% endcall %}

{% call section('Accounts') %}

###Accounts

#####Q. What kind of account do I have?

A. By default your account is a personal, free account.  All packages you upload to Anaconda Cloud will be public, and you will be the only person with administrative access to your account.

#####Q. What’s included in the free version of Anaconda Cloud?
A. The Free plan allows you to search for, create and host public packages, and provides up to 3 GB storage space. [Compare plans](https://anaconda.org/about/pricing).

#####Q. What’s included in the paid personal version of Anaconda Cloud?
A. With our paid personal subscription, you can create and host private packages, and use 10 GB of storage space. [Compare plans](https://anaconda.org/about/pricing).

#####Q. What’s included in the paid organization version of Anaconda Cloud?
A. With our paid subscriptions, you can create and host private packages, multiple users and groups, and use 100 GB of storage space. [Compare plans](https://anaconda.org/about/pricing).

#####Q. How can I upgrade my account?

A. You can upgrade to a paid account [here](https://anaconda.org/settings/billing).  This will allow you to create private packages and increase your storage limit.

#####Q. What is an organization account? How is it different from an individual account?

A. An organization account allows multiple individual users to administer packages and have more control of package access by other users. An individual account is for use by one person. 

{% endcall %}


</div>
{% endblock %}
