{% set page_id = 'howto' %}
{% from "macros.html" import section, subsection, subsubsection with context %}
{% extends "layout.html" %}

{% block single_page_content %}

{% call section('How To...', self) %}

{% call subsection('Use packages')%}

{% call subsubsection('Find a package') %}
In your browser, you can search Anaconda Cloud for packages by package name. From the top navigation bar of any page, enter the package name in the search box. You can filter your searches to specify only conda or PyPI packages, and you can sort results by upvotes or number of downloads by clicking the search results column heading.
{% endcall %}

{% call subsubsection('Download and install a package from Anaconda Cloud') %}
To install a conda package, in your terminal window run ``conda install -c https://anaconda.org/USERNAME packagename``
{% endcall %}

{% call subsubsection('Download and install a conda package from Anaconda Cloud') %}
To install a conda package, in your terminal window run ``conda install -c https://conda.anaconda.org/USERNAME packagename``
{% endcall %}

{% call subsubsection('Download and install a PyPI package from Anaconda Cloud') %}
To install a PyPI package, in your terminal window run ``pip install --index-url pypi.anaconda.org/USERNAME/simple packagename``
{% endcall %}

{% endcall %}

{% call subsection('Use the anaconda-client CLI')%}

{% call subsubsection('Install anaconda-client') %}
The anaconda-client command line interface (CLI) is available via conda or pip. See [installation and setup instructions](/using.html#InstallingTheAnacondaClientCommandLineInterface).
{% endcall %}

{% call subsubsection('Find my anaconda-client login credentials') %}
Your credentials for anaconda-client are those you used to create an account on Anaconda Cloud. For help, go to Anaconda.org and click "forgot password." 
{% endcall %}

{% call subsubsection('Log into anaconda-client') %}
After you have downloaded and configured anaconda-client, open a terminal window and run  ``anaconda login``
{% endcall %}

{% call subsubsection('See a list of anaconda-client commands') %}
From a terminal window, run ``anaconda --help``  
{% endcall %}

{% call subsubsection('Find out more about an anaconda-client command') %}
From a terminal window, run ``anaconda COMMANDNAME -h``  
{% endcall %}

{% call subsubsection('See a list of all available anaconda-client configuration files') %}
From a terminal window, run ``anaconda config --files``  
{% endcall %}

{% call subsubsection('See a list of all of my anaconda-client configuration variables') %}
From a terminal window, run ``anaconda config --show``  
{% endcall %}

{% call subsubsection('Find out more about the anaconda-client') %}
If you have a question that you cannot answer using the help command, documentation or community support email group, please [contact us](mailto:support@anaconda.org).
{% endcall %}

{% endcall %}

{% call subsection('Build packages')%}

{% call subsubsection('Build and upload a package') %}
See the [Anaconda Cloud Build Guide](/building.html) for step-by-step instructions. For a quick run-through, try the Quickstart [build guide section](/index.html#BuildingPackagesWithAnacondaCloud). 
{% endcall %}

{% call subsubsection('Test a built package') %}
Specify the '--use-local' option. For example: ``conda create --use-local -n test PACKAGENAME``
{% endcall %}

{% call subsubsection('Upload a package to Anaconda Cloud') %}
In a terminal window, run ``anaconda upload PACKAGENAME``
{% endcall %}

{% call subsubsection('Find help uploading packages') %}
For a complete list of upload options, including specifying a package's channel, availability to other users, and metadata, in a terminal window, run ``anaconda upload -h``  
{% endcall %}

{% endcall %}

{% call subsection('Manage my account')%}

{% call subsubsection('Build private packages or get more package storage space') %}
Upgrade to a paid plan. Log into Anaconda Cloud, from the toolbar select User Settings > Billing, and click the Change Plan button. 
{% endcall %}

{% endcall %}

{%- endcall -%}


{%- endblock -%}
