---
title: Getting Started

include: true
weight: 0
sub_items:
  - id: what-is-binstar
    title: What is Binstar?
  - id: contributing
    title: Contributing
---


{% from "macros.html" import section, subsection %}
{% extends "layout.html" %}


{% block main %}

{% call section('what-is-binstar')%}

### What is Binstar?
Binstar is a package management service which allows you to host software packages of all kinds.  Binstar is designed to make software development, release, and maintenance easy for you by providing broad package-management support. Binstar allows for both <strong>public</strong> and <strong>private</strong> package repositories, as well as package channels, providing a flexible and scalable service for groups and organizations of all sizes. Binstar is a [Continuum Analytics](http://continuum.io) product.

Binstar is an evolving service and we welcome your [feedback](mailto:support@binstar.org) and
questions.

Hosting of freely available software will remain free for individuals and organizations hosting a limited number of packages.  We charge for the hosting of private packages and for very-large collections of freely available packages. For more information, please see our [plan options](https://binstar.org/about/plans/).

{% endcall %}

{% call section('contributing') %}

### Contributing to the docs

This documentation is hosted on [github](https://github.com/Binstar/docs.binstar.org).  If you believe there is an omission or error in the documentation, please fork the repository and submit a pull request.

{% endcall %}



{% endblock main %}

