---
title: Binstar Overview
subtitle: ''
description: Binstar Overview
---
{% extends "columns.j2" %}

{% block main %}

<a id="overview"></a>

[Binstar](https://binstar.org) is [Continuum Analytics'](http://continuum.io) hosted package management service.

### Contributing to the docs

These docs are hosted on [github](https://github.com/Binstar/docs.binstar.org).
Feel free to contribute if You find something is missing.
This will help us constantly improve the documentation.

{% endblock main %}

