{% set page_id = 'index' %}
{% from "macros.html" import section, subsection with context %}
{% extends "layout.html" %}

{% block single_page_content %}

{% call section('Welcome', self) %}

  {% call subsection('What is Anaconda Cloud?')%}

Anaconda Cloud makes it easy to find, access, store and share public and private notebooks, environments, and 
conda and PyPI packages, and to keep up with updates made to the packages and environments you’re using.

You can build packages using the Anaconda client CLI, then manually or automatically upload the packages 
to Anaconda Cloud to quickly share with others or access yourself from anywhere. 

To take advantage of Anaconda Cloud, you’ll first want to:

- [Download Anaconda](https://www.continuum.io/downloads).

- Get familiar with using conda. A good place to start is the [conda cheat sheet](http://conda.pydata.org/docs/using/cheatsheet.html)
and the [conda test drive](http://conda.pydata.org/docs/test-drive.html).

For developers, Anaconda Cloud is designed to make software development, release, and maintenance easy by providing 
broad package management support. Anaconda Cloud allows for both free <strong>public</strong> and paid <strong>private</strong> 
package repositories, as well as package channels, providing a flexible and scalable service for groups and 
organizations of all sizes. Anaconda Cloud is a [Continuum Analytics](http://continuum.io) product.

Hosting of freely available software will always remain free for individuals and organizations hosting up to twenty 
public packages.  There is a small fee for the hosting of private packages or more than twenty 
packages. For more information, please see our [plan options](https://anaconda.org/about/pricing).

  {% endcall %}

{%- endcall -%}

{% call section('Quickstart', self) %}

  {% call subsection('Using Anaconda Cloud')%}

  **Search for a public package**

  Anaconda Cloud hosts hundreds of useful Python packages for a wide variety of applications. You don't need an 
  Anaconda Cloud account, or to be logged in, to search for public packages, download and install them. You need 
  an account only to access private packages without a token, or to build and share your packages with others.

  **Search for a public package on Anaconda Cloud**

  1. In the top search box, type part or all of the name of a program you are searching for and press Enter.
  2. Packages that match your search string are displayed. Click the package name to see more information.

  **Refine your search results**

  You can filter search results using three filter controls:

  - All packages, conda only or PyPI only
  - All types, Public and/or Private (only available if you are logged in)
  - Platforms: All, Source, Linux-32, Linux-64, Noarch, OSX-64, Win-32, Win-64.  
    "Source" packages are source code only, not yet built for any specific platform.  
    "Noarch" packages are built to work on all platforms.

  **Download a package from Anaconda Cloud**

  After you have located a package and clicked on the name, the detail page displays specific install instructions 
  for the current operating system. Copy and paste the full command into your terminal window.

  EXAMPLE: To install a package with conda run:

      conda install -c https://anaconda.org/USERNAME packagename

      {% endcall %}

      {% call subsection('Building packages with Anaconda Cloud')%}

  Open an Anaconda Cloud account to upload packages, to access private packages without a token and/or to build packages 
  for operating systems other than the one you are using. To build private packages, upgrade to a paid account. 

  To build and upload packages, install the Anaconda Client command line interface (CLI) and Anaconda Build. 
  Open a Terminal window and enter:

      conda install anaconda-client anaconda-build

  Next, log into your Anaconda Cloud account. In your terminal window, enter the following:

      anaconda login
      
  At the prompt, enter your Anaconda Cloud username and password. 

  Next, choose the package you would like to build. For this quickstart, you can download our test package:

  	git clone https://github.com/Anaconda-Server/anaconda-client
  	cd anaconda-client/example-packages/conda/

  To build your test package, first install conda-build and turn off automatic anaconda-client uploading, then 
  run the conda build command:

      conda install conda-build
      conda config --set anaconda_upload no
      conda build .

  Check your path to where the newly built file was placed so you can use it in the next step:

      conda build . --output

  Finally, log into your Anaconda Cloud account if you haven't already, and upload your newly built test package 
  to your Anaconda Cloud account:

      anaconda login
      anaconda upload /your/path/conda-package.tar.bz2

  For detailed information, see the [Conda packages](using.html#CondaPackages) section. 

  {% endcall %}

{%- endcall -%}

{% call section('Get involved', self) %}

  {% call subsection('Community support') %}

Please feel welcome to join our community support mailing lists for both [Anaconda](https://groups.google.com/a/continuum.io/forum/?fromgroups#!forum/anaconda) 
and [conda](https://groups.google.com/a/continuum.io/forum/#!forum/conda), ask questions, answer questions, and discuss ways to use 
Anaconda Cloud, requests for new features, and any other comments you may have.

  {% endcall %}
  
  {% call subsection('Support') %}

For support issues, please see [Anaconda Cloud Support](https://www.continuum.io/support).

  {% endcall %}

  {% call subsection('Report a bug') %}

Issues with Anaconda Cloud are tracked on [GitHub](https://github.com/Anaconda-Server/docs.anaconda.org/issues). If you 
think you have found a bug, please search to see if it has been reported, and please report it if no one else has.

  {% endcall %}

  {% call subsection('Contribute to the docs') %}

This documentation is hosted on [GitHub](https://github.com/Anaconda-Server/docs.anaconda.org).
If you believe there is an omission or error in the documentation,
please fork the repository and submit a pull request.

You can also do this in your browser by clicking on the <span style="font-size: 150%" class="glyphicon glyphicon-pencil"></span> icon within the docs.

  {% endcall %}

{%- endcall -%}


{%- endblock -%}
