---
title: Binstar Packages
sub_items:
    - title : Namespaces
      id: namespaces
    - title : Channels
      id: channels
    - title : Private Packages
      id: private-packages
    - title : Create a Package
      id: create
    - title : Package Privacy
      id: privacy
    - title : Add a file
      id: add-file
    - title : Use Cases
      id: use-cases
---

{% from "macros.html" import section, subsection %}
{% extends "layout.html" %}

{% block main %}
{% call section('namespaces') %}
### Namespaces

Packages on binstar are contained withing namespaces.
Each user has his or her own personal namespace called a **user namespace** where they may host packages.
You can view the packages in a users namespace by navigating to their user page.
For example, the [binstar](https://binstar.org/binstar) user namespace contains the binstar package.


Depending on the package manager you are using
<em>(The currently supported package types are [conda](conda.html) and [pypi](pypi.html))</em>
You will use the corresponding subdomain designed to work with that package manager:

 *  To install **conda** packages from the binstar user, use the repository
     url [https://**conda**.binstar.org/binstar](https://conda.binstar.org/binstar)
 *  To install **pypi** packages from the binstar user, use the repository
    url [https://**pypi**.binstar.org/binstar](https://pypi.binstar.org/binstar)

{% endcall %}
{% call section('channels') %}

### Channels

Furthermore each file within a package may be tagged in zero or more [channels](channels.html),
this allows package authors to upload files for development or testing purposes without
affecting non-development users.

If you navigate to  [https://**pypi**.binstar.org/binstar](https://pypi.binstar.org/binstar) you will see a channel
dropdown listing all the available channels in this user namespace.

For example all of the pypi packages tagged as 'dev' can be shown here:

 *  [https://pypi.binstar.org/binstar/channel/dev](https://pypi.binstar.org/binstar/channel/dev)

The default channel is the **main** channel.
If a file is tagged in the **main** channel then the channel name may be omitted from the url

For example the following repositories are equivalent:

 *  [https://**pypi**.binstar.org/binstar/channel/main](https://pypi.binstar.org/binstar/channel/main)
 *  [https://**pypi**.binstar.org/binstar](https://pypi.binstar.org/binstar)

{% endcall %}
{% call section('private-packages') %}

### Private Packages

Packages may also be private. This means that you must explicitly have access to view the package.
To view and install private packages, you must identify yourself to binstar.
This is done with [access tokens](token_gen.html)
Once you have generated a token (`<TOKEN>`), you may prefix any repository url with `/t/<TOKEN>`

Note this is just an example, you will not see any extra private packages in the binstar **user namespace**

 *  To install **private conda** packages from the binstar user, use the repository
     url [https://**conda**.binstar.org/t/&lt;TOKEN&gt;/binstar](https://conda.binstar.org/binstar)
 *  To install **private pypi** packages from the binstar user, use the repository
    url [https://**pypi**.binstar.org/t/&lt;TOKEN&gt;/binstar](https://pypi.binstar.org/binstar)

{% endcall %}
{% call section('create') %}


### Creating a new Package

All packages you author must be created in a user account. To create a package go to [binstar.org/new](https://binstar.org/new)

{% endcall %}
{% call section('privacy') %}

### Select the privacy access to your package:

You will be prompted with three options:

1. **Personal**: The new package will be hosted on your personal repository, this package will be viewable and installable by anonymous users.
   Users must add your unique repository url to their package manager's configuration.
1. **Private**: The new package will be hosted on your personal repository, however you control the list of authorized users that will be able to access or modify this package.


{% endcall %}
{% call section('add-file') %}

### Add a file to your package

To upload files to binstar it is recommended to use the [binstar command line client](https://github.com/binstar/binstar_client)

Run the command:

`binstar upload FILE-NAME`


Your package can now be found on your profile page `https://binstar.org/<USERNAME>/<PACKAGE>`

{% endcall %}
{% call section('use-cases') %}

## Use Cases

 * [You want to install conda packages](conda.html#Author)
 * [You want to install PyPI packages](pypi.html#Author)

{% endcall %}

{%endblock%}
