---
title: PyPI Packages
subtitle: ''
---
{% extends "columns.j2" %}

{% block main %}
<a id="Installing"></a>
## Installing PyPI packages

The basic way to install a package from binstar is using pip:

```
pip install --index-url pypi.binstar.org/REPOSITORY-PATH/simple PACKAGE
```

Where **REPOSITORY-PATH** may be one of the following:

1.  A **username**, this allows installation of packages from a user repository:
    `pip install --index-url pypi.binstar.org/USER/simple PACKAGE`
    <br><br>
    <div class="alert">**Note:**<br> the **pypi** user contains a full up to date mirror of [pypi.python.org](pypi.python.org)
        <br>
        e.g. <code>[pypi.binstar.org/pypi](https://pypi.binstar.org/pypi)</code>
    </div>


1.  A **user channel**, this allows installation of packages from a collection of packages a user has put together:
    ```
    pip install --index-url pypi.binstar.org/USER/channel/channel-NAME/simple PACKAGE
    ```

    The **main** channel is the default channel:
    `pypi.binstar.org/USER/channel/main/simple` is equivalent to `pypi.binstar.org/USER/simple`



## Installing Private Packages

All urls (except for the public repository) can be prefixed with `/t/$TOKEN` to access private packages.

    TOKEN=$(binstar auth --create --name YOUR-TOKEN-NAME)
    pip install --index-url pypi.binstar.org/t/$TOKEN/USER/simple PACKAGE

### Modify your piprc file

pip allows you to set all command line option defaults in a standard ini style config file.

The names and locations of the configuration files vary slightly across platforms.

 * On Unix and Mac OS X the configuration file is: `$HOME/.pip/pip.conf`
 * On Windows, the configuration file is: `%HOME%\pip\pip.ini`


Appending options like `--extra-index-url` or `--index-url` can be written as:

    [global]
    extra-index-url =
        http://pypi.binstar.org/user/simple

    [install]
    extra-index-url =
        http://pypi.binstar.org/user2/simple

See also the [official pip installer documentation](http://www.pip-installer.org/en/latest/configuration.html)


<a id="Authoring"></a>
## Authoring PyPI packages

All packages you author must go to a user account. To create a package go to [binstar.org/new](https://binstar.org/new)

First, create a *recipe* directory by going to the command line and running

    
    conda skeleton pypi brewer2mpl
    

You will be asked which source version you would prefer:
    
    
    More than one source version is available for brewer2mpl:
    0: https://pypi.python.org/packages/source/b/brewer2mpl/brewer2mpl-1.4.tar.gz (19 KB)
    1: https://pypi.python.org/packages/source/b/brewer2mpl/brewer2mpl-1.4.zip (22 KB)
    Which version should I use?
    

Choose the tarball (*0* in the example above)

This will create a recipe directory (which contains a **meta.yaml**, **build.sh** and **build.bat** necessary to build the file with *conda build*)

From outside the recipe directory, run
    
    
    conda build <recipe dir>  
    

Now your package is available for installation.

See also [authoring packages](author.html) for a general overview.
{%endblock%}
