---
title: PyPI Packages
subtitle: ''
---
{% extends "columns.j2" %}

{% block main %}
<a id="Authoring"></a>
## Authoring PyPI packages

All packages you author must go to a user account. There are two ways to create a package

1. Go to [binstar.org/new](https://binstar.org/new)

2. Or, using the binstar command line client, run the command `binstar package --create USERNAME/PACKAGENAME`

First, choose a package repository to upload.  For the purposes of this example, we'll use a small example package located in the [binstar_client repository](https://github.com/Binstar/binstar_client/tree/master/example-packages/pypi).

You will need to begin by cloning the repository from the command line

    $ git clone git@github.com:Binstar/binstar_client.git

This will create a **binstar_client** directory where you ran the command.  Navigate into the `example-packages`
directory and you will be ready to begin

    $ cd binstar_client/example-packages/pypi/

<br>
<div class="alert">**Note:**<br> If you are using Windows, you will need to run the command **chdir** in place of **cd**
<br>
</div>
<br>


Once there, run the following command

    $ python setup.py sdist
    running sdist

    ...

    Creating tar archive
    removing 'test_package34-0.3.1' (and everything under it)

Your package has now been built as a source tarball and is ready to be uploaded.

    $ binstar upload --user USERNAME binstar_client/example-packages/pypi/dist/test_package34-0.3.1.tar.gz
    Using binstar api site http://api.alpha.binstar.org
    detecting package type ...
    pypi
    extracting package attributes for upload ...
    done

    Uploading file USER/test-package34/0.3.1/test_package34-0.3.1.tar.gz ... 
     uploaded 3 of 3Kb: 100.00% ETA: 0.0 minutes


    Upload(s) Complete

    Package located at:
    http://alpha.binstar.org/USER/test-package34
    
Your package is now available at `http://alpha.binstar.org/USER/PACKAGE`

## Installing PyPI packages

The basic way to install a package from binstar is using pip.  For the following, we will use the package we authored in the examples above:

```
pip install --index-url https://pypi.binstar.org/REPOSITORY-PATH/simple test-package34
```

Where **REPOSITORY-PATH** may be one of the following:

1.  A **username**, this allows installation of packages from a user repository:
    `pip install --index-url https://pypi.binstar.org/USER/simple test-package34`
    <br><br>
    <div class="alert">**Note:**<br> the **pypi** user contains a full up to date mirror of [pypi.python.org](pypi.python.org)
        <br>
        e.g. <code>[pypi.binstar.org/pypi](https://pypi.binstar.org/pypi)</code>
    </div>


2.  A **user channel**, this allows installation of packages from a collection of packages a user has put together:
    ```
    pip install --index-url https://pypi.binstar.org/USER/channel/channel-NAME/ test-package34
    ```

    The **main** channel is the default channel:
    `https://pypi.binstar.org/USER/channel/main/simple` is equivalent to `https://pypi.binstar.org/USER/simple`

## Installing Private Packages

All urls (except for the public repository) can be prefixed with `/t/$TOKEN` to access private packages.

    TOKEN=$(binstar auth --create --name YOUR-TOKEN-NAME)
    pip install --index-url pypi.binstar.org/t/$TOKEN/USER/simple test-package34

### Modify your piprc file

pip allows you to set all command line option defaults in a standard ini style config file.

The names and locations of the configuration files vary slightly across platforms.

 * On Unix and Mac OS X the configuration file is: `$HOME/.pip/pip.conf`
 * On Windows, the configuration file is: `%HOME%\pip\pip.ini`


Appending options like `--extra-index-url` or `--index-url` can be written as:

    [global]
    extra-index-url =
        http://pypi.binstar.org/user/simple

    [install]
    extra-index-url =
        http://pypi.binstar.org/user2/simple

See also the [official pip installer documentation](https://pip.pypa.io/en/latest/user_guide.html#installing-packages)

{%endblock%}