{# Columns template #}

{% extends "base.j2" %}

{% block basecss %}
{{ super() }}
{% endblock basecss %}

{% block content %}

<div class="bs-docs-section-header">
  {% block header %}
  <h3>
    {% block page_title %}{{ resource.meta.title }}{% endblock %}
    {% if resource.meta.subtitle %}<small>{% block page_subtitle %}{{ resource.meta.subtitle }}{% endblock %}</small>{% endif %}
  </h3>
  {% endblock header %}
</div>

<div class="row-fluid">
  <div class="bs-docs-sidebar">
    {% from "macros.j2" import render_side_bar with context %}
    {{ render_side_bar() }}
  </div>



  <div class="bs-docs-container">
      {% filter markdown -%}
      {% block main %}{% endblock %}
      {%- endfilter %}
  </div>
</div>

{% endblock content %}

