{%from "_header.html" import header with context %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="{{ resource.meta.description }}">
        
        <!--[if lt IE 9]>
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->

        <link href="{{ media_url('bootstrap/css/bootstrap.css') }}" rel="stylesheet">
        <link href="{{ media_url('style.css') }}" rel="stylesheet">
        <title>{%block title%}{{site_title}}{%endblock%}</title>
    </head>
    <body data-spy="scroll" data-target="#sidenav">
    
    {% block body %}
    
    {{header(page_id)}}
    
    <script>document.getElementById('topNav').style.display = 'none';</script>
    
    <div class="content-wrapper clearfix">
    {%-    block content -%}
      <div class="col-sm-12 single-page">
      {%-  filter markdown -%}
      {%-      block single_page_content -%}
      {%-      endblock -%}
      {%- endfilter -%}
      </div>
    
    {%-    endblock -%}
    </div> <!-- content -->
    
    <div class="navigation">
      {% include "_left_cols.html" with context %}
    </div> <!-- navigation -->
    
    {% endblock %}
    
    {% block scripts %}
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="{{ media_url('bootstrap/js/bootstrap.js') }}"></script>
    <script type="text/javascript" src="{{ media_url('script.js') }}"></script>
    {% endblock %}
    
    {% include "_footer.html" %}
    <div id="modalBG"></div>
    </body>

</html>
