{%- macro section(title) -%}
{{resource.add_index(title)}}
<section>
{%- filter markdown -%}
# {{title}}
{{caller()}}
{%- endfilter -%}
</section>
{%- endmacro -%}

{%- macro subsection(title) -%}
{{resource.add_subindex(title)}}
<div class="sub-section">
{%- filter markdown -%}
### {{title}}
{{caller() }}
{%- endfilter -%}
</div>
{%- endmacro -%}

{% macro command_line_method(title, cmdline, description='') -%}

<div class="method">
  {{resource.add_index(title)}}
  <div class="method-section">
    <div class="method-description">
      <h2>{{title}}</h2>
      {{description}}

    </div>
    <div class="method-example">
        <h4 class="cmdline-title">{{cmdline}}</h4>
        <pre><code>{{command_line_help(cmdline)}}</code></pre>
    </div>
  </div>
  
  {% if caller %}
  {{caller()}}  
  {% endif %}

</div>


{%- endmacro %}

{% macro command_line_section(title, cmdline) -%}

  {{resource.add_subsubindex(title)}}
  <div class="method-section">
    <div class="method-description">
      {{caller()}}
    </div>
    <div class="method-example">
        <h4 class="cmdline-title">{{cmdline}}</h4>
        <pre><code>{{command_line_help(cmdline)}}</code></pre>
    </div>
  </div>


{%- endmacro %}
