<div class="footer-wrapper" >
    <footer>
        <ul class="list-inline text-center">
            <li><a href="http://continuum.io">Continuum Analytics</a></li>
            <li class="divider">&middot;</li>
            <li><a href="http://continuum.io/careers">Careers</a></li>
            <li class="divider">&middot;</li>
            <li><a href="http://continuum.io/blog/">Blog</a></li>
            <li class="divider">&middot;</li>
            <li><a href="https://anaconda.org/about/legal/terms/">Terms &amp; Conditions</a></li>
            <li class="divider">&middot;</li>
            <li><a href="https://anaconda.org/about/legal/privacy/">Privacy</a></li>
            <li class="divider">&middot;</li>
            <li class="text-center">
                <span>Powered by
                    <a href="https://www.continuum.io/why-anaconda" target="_blank">Anaconda</a>
                </span>
            </li>
        </ul>
        <ul class="list-inline text-center">
            <li><a href="http://continuum.io/contact-us">Contact</a></li>
            <li class="divider">&middot;</li>
            <li><a href="https://github.com/Anaconda-Server/support/issues">Report an issue</a></li>
            <li class="divider">&middot;</li>
            <li><a href="https://anaconda.org">Anaconda Cloud</a></li>
        </ul>

    </footer>
</div>
