---
#
# Note: that due to a restriction with hyde
#       you must edit the meta.yaml file in this
#       directory to include this template in the
#       table of contents
#

title: Advanced Install options

# These are the nave items that are going
# to be active when this page is active
sub_items:
 - id: https
   title: Enable https
 - id: standard-ports
   title: Using Standard Ports
 - id: connect-to-existing-mongodb
   title: Connect to an Existing MongoDB Database
 - id: ldap
   title: Enable LDAP Directory Support
 - id: ad
   title: Enable Active Directory Support
 - id: tls
   title: Enable TLS Security on LDAP/Active Directory
---


{% from "macros.html" import section, subsection %}
{# You must always extend "layout.html" #}
{% extends "layout.html" %}

{# All of the site content can go in the main block #}
{% block main %}

{# Use a section so that the scroll-spy can link to the items in the "sub_items" above #}
{% call section('https') %}
### Enable https

First you must have an ssl `*.cert` file and an ssl `*.key` file.
If you want to test this functionality you can always [create a self-signed certificate](http://www.selfsignedcertificate.com/)

    binstar-config --set ssl_options.keyfile /home/binstar/localhost.key
    binstar-config --set ssl_options.certfile /home/binstar/localhost.cert
    binstar-config --set port 8443
    binstar-config --set redirect_http_port 8080


Now you must restart your server

    supervisorctl restart all


{% endcall%}

{% call section('standard-ports') %}

### Using Standard Ports

The easiest way to use standard ports is to redirect traffic from
the standard ports 80 and 443 to the Binstar server ports


#### HTTP

    sudo iptables -t nat -F
    sudo iptables -t nat -A OUTPUT -d localhost -p tcp --dport 80 -j REDIRECT --to-ports 8080
    sudo iptables -t nat -I PREROUTING -p tcp --dport 80 -j REDIRECT --to-port 8080

#### HTTPS

If you are using https you must also redirect traffic from 443 to 8443

    sudo iptables -t nat -A OUTPUT -d localhost -p tcp --dport 443 -j REDIRECT --to-ports 8443
    sudo iptables -t nat -I PREROUTING -p tcp --dport 443 -j REDIRECT --to-port 8443


{% endcall %}
{% call section('connect-to-existing-mongodb') %}
### Connect to an Existing MongoDB Database

If you already have a mongodb server running you can connect to it by setting the MONGO_URL config variable

    binstar-config --set MONGO_URL 'mongodb://<hostname>'

See the [mongodb uri connection str](http://docs.mongodb.org/manual/reference/connection-string/)
manual for more information.


{% endcall %}
{% call section('ldap') %}
### Enable LDAP or Active Directory Support

#### Configure Binstar to use LDAP

Open the binstar configuration file */etc/binstar/config.yaml* file and add the following configuration to enable LDAP support:

    LDAP: {
      # Replace with company LDAP server
      'URI': 'ldap://<ldap.company.com>',

      # Replace <uid=%(username)s,ou=People,dc=company,dc=com> with your company specific LDAP Bind/Base DN
      # Bind directly to this Base DN.
      'BIND_DN': '<uid=%(username)s,ou=People,dc=company,dc=com>',

      # Map ldap keys into application specific keys
      'KEY_MAP': {
          'name':'cn',
          'company': 'o',
          'location':'l',
          'email': 'mail',
          },
    }

Update the URI with the location of your ldap server and BIND_DN with the values specific to your ldap server.

Run the flask-ldap-login-check command to verify LDAP connectivity

    flask-ldap-login-check binstar.wsgi:app --username '<ldapUser>' --password '<ldapUserPassword>'

Now restart the Binstar server to apply changes

    supervisorctl restart all

Open your browser and browse to your local binstar server installation:

    http://<local.binstar.srv>

You should now be able to log in using your LDAP credentials

{% endcall %}
{% call section('ad') %}
### Configure Binstar to use Active Directory

Open the binstar configuration file */etc/binstar/config.yaml* file in an editor and add the following configuration to enable Active Directory support:

    LDAP : {
        'URI': 'ldap://<ldap.server.url>',

        # This BIND_DN/BIND_PASSORD default to '', this is shown here for 
        # demonstrative purposes. To enable Autorized Bind, insert the AD
        # BIND_DN and BIND_AUTH password for and authorized AD user.
        #
        #e.g. 'BIND_DN': '<cn=Authorized User,cn=users,dc=company,dc=local>',
        #e.g. 'BIND_AUTH': '<AuthUsrPassword>',
       
        # The values '' perform an anonymous bind so we may use search/bind method
        'BIND_DN': '',
        'BIND_AUTH': '',

        # Adding the USER_SEARCH field tells the flask-ldap-login that we
        # are using the search/bind method
        'USER_SEARCH': {'base': '<cn=users,dc=company,dc=local>', 'filter': 'sAMAccountName=%(username)s'},

        # Map ldap keys into application specific keys
        'KEY_MAP': {
            'name':'cn',
            'company': 'o',
            'location':'l',
            'email': 'mail',
            },
    }

Update the *URI* <ldap.server.url> with the location of your Active Directory server, *BIND_DN* with the values specific to your Active Directory server and the *BIND_AUTH* with the password of the user specified in the *BIND_DN*.

Now restart the Binstar server to apply changes

    supervisorctl restart all

Run the flask-ldap-login-check command to verify Active Directory connectivity

    flask-ldap-login-check binstar.wsgi:app --username '<adUser>' --password '<adUserPassword>'

You should get a response similare to the following:

    [binstar.server] Started Site
    Got userdata for adUser
    {'company': None, 'email': None, 'location': None, 'name': 'AD User'}

Open your browser and browse to your local binstar server installation:

    http://<local.binstar.srv>

{% endcall %}
{% call section('tls') %}
### Enable TLS on LDAP/Active Directory

To enable a secure **TLS** connection you need to add the following inside your LDAP configuration section of `/etc/binstar/config.yaml`:
    
    LDAP={  ....

          'START_TLS': True,
          'OPTIONS': { 'OPT_PROTOCOL_VERSION': 3,
                       'OPT_X_TLS_DEMAND', True,
                       'OPT_X_TLS_REQUIRE_CERT': 'OPT_X_TLS_NEVER',
                       'OPT_X_TLS_CACERTFILE', '/path/to/certfile')
                      }
            ....
          }

{% endcall %}
{% endblock main %}

