---
title: Client configurations

sub_items:
 - id: binstar-cli
   title: Binstar Client
 - id: conda-installer
   title: Conda Installer
 - id: pip-installer
   title: pip Installer
---


{% from "macros.html" import section, subsection %}
{% extends "layout.html" %}

{% block main %}

{% call section('binstar-cli') %}
### Binstar Client

Set your local conda configuration to point to your onsite binstar server.
This is need to correctly upload your conda build packages to your onsite binstar
installation.

```
binstar config --set url http://<onsite.binstar.ipaddress>:<port>/api
```


{% endcall%}
{% call section('conda-installer') %}
### Conda Installer

To install conda packages from your onsite binstar installation add your onsite binstar channel to your
`~/.condarc` configuration file.

```
conda config --add channels http://<onsite.binstar.ipaddress>:<port>/conda/<binstaruser>
```

{% endcall%}
{% call section('pip-installer') %}
### pip Installer

To install pypi packages from your onsite binstar installation add your onsite binstar channel to your
`~/.pip/pip.conf` configuration file.

Edit the file and add an `extra-index-url` entry to the global config section:

    [global]
    extra-index-url = http://<onsite.binstar.ipaddress>:<port>/pypi/<binstaruser>/simple

{% endcall%}


{% endblock main %}

