---
#
# Note: that due to a restriction with hyde
#       you must edit the meta.yaml file in this
#       directory to include this template in the
#       table of contents
#
title: Firewall Configuration

# These are the nave items that are going
# to be active when this page is active
sub_items:
 - id: firewall
   title: IPTable Configuration
---


{% from "macros.html" import section, subsection %}
{# You must always extend "layout.html" #}
{% extends "layout.html" %}

{# All of the site content can go in the main block #}
{% block main %}
## IPTAbles Configuration

Open ports 8080 and 443 in your firewall to allow external communication with the Onsite Binstar Server.

```
sudo iptables -t nat -F

# HTTP
iptables -A INPUT -p tcp -m tcp --dport 8080 -j ACCEPT

# HTTPS
iptables -A INPUT -p tcp -m tcp --dport 443 -j ACCEPT

# Save IPTables
sudo service iptables save

# Restart IPTables
sudo service iptables restart
```

{# Use a section so that the scroll-spy can link to the items in the "sub_items" above #}
{% call section('section-id') %}
### Section Title
{% endcall%}

{% endblock main %}