---
title: Installing Binstar On-Site

include: true
weight: 0
sub_items:
  - id: requirements
    title: Requirements
  - id: install-mongodb
    title: Install MongoDB
  - id: log-output
    title: Log the Output to Continuum
  - id: create-binstar-user
    title: Create the Binstar User
  - id: install-miniconda
    title: Install Miniconda
  - id: install-binstar
    title: Install Binstar
  - id: configure-binstar
    title: Configure the Binstar Server
---

{% from "macros.html" import section, subsection %}
{% extends "layout.html" %}

{% block main %}
## Installing On-Site Binstar

On-site Binstar installation allows you to create and maintain a private version of [binstar.org](https://binstar.org)
for easy creation and sharing of custom conda and PyPI packages within your organization.

The following instructions will guide you through the process of installing and
configuring your On-site Binstar installation.  If you have any questions about this process,
please contact your sales representative for additional assistance.

<strong>Please note:</strong> some commands may vary slightly by distribution.  These instructions are written for a Red Hat distribution.


{% call section('requirements')%}
### Requirements

* root access
* network connectivity
* an On-site Binstar installation token (this will be provided to you by your sales representative
at the time of purchase).


This installation guide is grouped into three components: steps that must be performed with root access,
steps that should be performed as the Binstar user, and maintenance and configurable aspects of the
installation which you may wish to customize.

{% endcall %}

Perform as Root
---------------

{% call section('install-mongodb')%}
### Install MongoDB

See the [official installation guide](http://docs.mongodb.org/manual/installation/) for installation
instructions for your platform.  Once you have successfully installed and started MongoDB,
you can proceed with your installation.

Because the MongoDB instance must be running before the Binstar server can be started, you will likely
want to configure MongoDB to run automatically on machine startup.

To make sure mongo is running run:

    mongo --eval 'db.serverStatus().ok'

{% endcall %}

{% call section('log-output') %}
### Log the Output to Continuum


<strong>Please note:</strong> This step is optional, but highly recommended.

The following command will log activity from your server to our Loggly records so we can better support
your On-site Binstar installation.

First, confirm the machine has access to Loggly:

	# Should return a succcess
	ping -c 5 -W 5 logs-01.loggly.com

	# Should print '1'
	curl --connect-timeout 10 logs-01.loggly.com:514 2>&1  | grep "Empty reply from server" | wc -l

These values will be given to you when you purchase On-site Binstar: 

 *  `LOG_TOKEN`: This will be given to you when you purchase On-site Binstar.  
 *  `PRODUCT_NAME`: This

Add the file `/etc/rsyslog.d/22-loggly.conf` with the following content:

	$ cat > /etc/rsyslog.d/22-loggly.conf <<'EOF'
	# Define the template used for sending logs to Loggly. Do not change this format.
	$template LogglyFormat,"<%pri%>%protocol-version% %timestamp:::date-rfc3339% %HOSTNAME% %app-name% %procid% %msgid% [LOG_TOKEN@41058 tag=\"PRODUCT_NAME\"] %msg%"

	# Send messages to Loggly over TCP using the template.
	*.*             @@logs-01.loggly.com:514;LogglyFormat
	EOF

<div class="alert alert-warning">
    You must replace the `LOG_TOKEN` and `CUSTOMER_NAME` values from the text above.
</div>

Now restart your rsyslog process:

	sudo service rsyslog restart

{% endcall %}

{% call section('create-binstar-user')%}
### Create the Binstar user


It is recommended although not required that you create a Binstar user at this time:

	sudo useradd -m binstar
	sudo mkdir -m 0770 /etc/binstar
	sudo chown -R binstar:binstar /etc/binstar

At this point, you can transition to the Binstar user account,
as you will not need root access for any of the remaining steps:

	sudo su - binstar

{% endcall %}

Perform as Binstar User
-----------------------

{% call section('install-miniconda')%}

### Install Miniconda


Download and install Miniconda, which will give you access to the conda command:

	curl 'http://repo.continuum.io/miniconda/Miniconda-3.5.5-Linux-x86_64.sh' > Miniconda.sh
	bash Miniconda.sh

By default, Miniconda will install in the directory from which you execute the installer;
you have the option to override this configuration and choose a different directory if you wish.
Upon successfully completing the installation, you will be prompted to add the install location to your path:

	Do you wish the installer to prepend the Miniconda install location
	to PATH in your /home/binstar/.bashrc ? [yes|no]
	[no] >>> yes

<strong>Please note:</strong> you must answer "yes" to ensure Miniconda will be added to your path variable.
You will also need to open a new terminal session or run the <code>source ~/.bashrc</code> command for this change to take effect.

{% endcall %}

{% call section('install-binstar')%}
### Install Binstar


In order to install On-site Binstar, you will need to execute the cas-installer tool
using the custom On-site Binstar token provided to you by your sales representative at the time of purchase:

	conda config --add channels https://conda.binstar.org/t/<TOKEN>/binstar
	conda install binstar-server

<div class="alert alert-warning">
    You must replace the `TOKEN` value in the above command with the token provided to you by your sales representative.
</div>

{% endcall %}

{% call section('configure-binstar')%}
###  Configure the Binstar Server



Initialize the Binstar server instance, and indicate the desired filepath for package storage:

	binstar-config --init
	binstar-config --set fs_storage_root /etc/binstar/package-storage

Note: You may change the `/etc/binstar/package-storage` directory to any location that is accessible by the Binstar user.


Create your initial On-site Binstar superuser, <em>being sure to update this command to include your desired email address and password</em>:

	binstar-create-user --username "superuser" --password "yourpassword"  --email "your@email.com" --superuser

Run the On-site Binstar server installation:

	binstar-server --port 8080

You should now see a working, private installation of binstar.org when you visit <a href="http://localhost:8080">http://localhost:8080</a>.

Finally, you may wish to automatically restart your On-site Binstar installation if the instance fails or errors.

Create a supervisord instance:

	mkdir -p $HOME/miniconda/etc/
	echo_supervisord_conf > $HOME/miniconda/etc/supervisord.conf

Add the following lines to the supervisord.conf file you just created:

	[program:binstar-server]
	command=binstar-server
	stdout_logfile=syslog
	stderr_logfile=syslog

	[program:binstar-worker]
	command=mtq-worker -c binstar.tasks.worker high default low
	stdout_logfile=syslog
	stderr_logfile=syslog

You can now start and restart the Binstar server with the following commands:

	#starts binstar server
	supervisord
	#restarts binstar server
	supervisorctl restart all

{% endcall %}

{%endblock%}
