---
title: Maintenance and Configuration Concerns

include: true
weight: 0
sub_items:
  - id: ports
    title: Run On-Site Binstar on an Alternate Port
  - id: boot
    title: Start On-Site Binstar When the Machine Boots
  - id: general
    title: Recommended General Maintenance
---

{% from "macros.html" import section, subsection %}
{% extends "layout.html" %}

{% block main %}

{% call section('ports') %}

### Run On-Site Binstar on an Alternate Port


You  may wish to run your server on a port other than 8080.  To do so, you will need to adjust the above instructions for the following items:

- adjust port numbers in [iptables configuration](troubleshoot.html#update-iptables)
- specify port in supervisord.conf file


{% endcall %}
{% call section('boot') %}

### Start On-Site Binstar When the Machine Boots

If you wish to automatically start the Binstar instance whenever the machine is rebooted, you can do this by configuring your init.d file to run the supervisord command.

To do so take the appropriate script from one of these examples [Supervisor Initscripts](https://github.com/Supervisor/initscripts)

{% endcall %}
{% call section('General') %}

### Recommended General Maintenance


- regular updates of the binstar-server package via conda
- configuring database backups
- configuring file system backups
- reviewing error logs

{% endcall %}

{%endblock%}
