{% set page_id = 'get-involved' %}
{% from "macros.html" import section, subsection with context %}
{% extends "layout.html" %}

{% block single_page_content %}

{% call section('Community support', self) %}

Please feel welcome to join our community support mailing lists for both [Anaconda](https://groups.google.com/a/continuum.io/forum/?fromgroups#!forum/anaconda) 
and [conda](https://groups.google.com/a/continuum.io/forum/#!forum/conda), ask questions, answer questions, and discuss ways to use 
Anaconda Cloud, requests for new features, and any other comments you may have.

{%- endcall -%}

{% call section('Support', self) %}

For support issues, please see [Anaconda Cloud Support](https://www.continuum.io/support).

{%- endcall -%}

{% call section('Report a bug', self) %}

Issues with Anaconda Cloud are tracked on [GitHub](https://github.com/Anaconda-Server/support/issues). If you 
think you have found a bug, please search to see if it has been reported, and please report it if no one else has.

{%- endcall -%}

{% call section('Contribute to the docs', self) %}

This documentation is hosted on [GitHub](https://github.com/Anaconda-Server/docs.anaconda.org).
If you believe there is an omission or error in the documentation,
please fork the repository and submit a pull request.

You can also do this in your browser by clicking on the <span style="font-size: 150%" class="glyphicon glyphicon-pencil"></span> icon within the docs.

{%- endcall -%}

{%- endblock -%}
