{% set page_id = 'index' %}
{% from "macros.html" import section, subsection with context %}
{% extends "layout.html" %}

{% block single_page_content %}

{% call section('Welcome', self) %}

  {% call subsection('What is Anaconda Cloud?')%}

Anaconda Cloud is a package management service that makes it easy to find, access, store and share public 
and private notebooks, environments, and conda and PyPI packages, and to keep up with updates made to the 
packages and environments you’re using.

You can build packages using the Anaconda client command line interface (CLI), then manually or automatically 
upload the packages to Anaconda Cloud to quickly share with others or access yourself from anywhere. 

To take advantage of Anaconda Cloud, you’ll first want to:

- [Download Anaconda](https://www.continuum.io/downloads).

- Get familiar with using conda. A good place to start is the [conda cheat sheet](http://conda.pydata.org/docs/using/cheatsheet.html)
and the [conda test drive](http://conda.pydata.org/docs/test-drive.html).

For developers, Anaconda Cloud is designed to make software development, release, and maintenance easy by providing 
broad package management support. Anaconda Cloud allows for both free <strong>public</strong> and paid <strong>private</strong> 
package repositories, as well as package channels, providing a flexible and scalable service for groups and 
organizations of all sizes. Anaconda Cloud is a [Continuum Analytics](http://continuum.io) product.

Hosting of freely available packages will always remain free for individuals and organizations hosting up to 3GB of packages.
There is a small fee for hosting of private packages or more than 3GB of packages. For more information, please see our [plan options](https://anaconda.org/about/pricing).

  {% endcall %}

{%- endcall -%}

{%- endblock -%}
